// This file is checked each time a command in this mod is used.
// command=[all|enabled|op|no]
// example: back=op

spawn=all
spawnName=enabled
spawn.=all
spawn!=all
spawn?=all
back=enabled
spawn+=all
spawn+enable=op
spawn+@sharedlocation=op
spawn+name=enabled
spawn+nameWithCoordinates=enabled
spawn-=all
spawn-name=enabled
spawn-@sharedlocation=op
spawns=all
home=all
sethome=all
spawnhelp=all
spawnblockdata=op
ta=enabled
