// This file is loaded once on server startup
// Deleting this file will reset it to defaults on game restart
// originalCommand=newCommand
// example: back=goback

spawn=spawn
spawn.=spawn.
spawn!=spawn!
spawn?=spawn?
back=back
spawn+=spawn+
spawn-=spawn-
spawns=spawns
home=home
sethome=sethome
spawnhelp=spawnhelp
spawnblockdata=spawnblockdata
ta=ta