AdvancedCommandsEnabled=false
allowWithCheatsDisabled=false
HomeWithNamedLocations=false
AllowToLeaveTheDragon=false
LimitTheNumberOfNamedLocationsPerPlayer=false
TheNamedLocationsLimitNumber=3
teleportask responseTimeLimitSeconds=45
teleportask requestJustCameInDelaySeconds=1.2
teleportask lastPlayerAskedTimeoutHours=9
