[Unit]

Description=A very nize Minecraft Server configured by kleberboy


Wants=network.target

After=network.target



[Service]

User=minecraft

Group=minecraft

Nice=-5

EnvironmentFile=-/opt/minecraft-server/unit.conf

KillMode=none

SuccessExitStatus=0 1


ProtectHome=true

ProtectSystem=full

PrivateDevices=true

NoNewPrivileges=true

PrivateTmp=true

InaccessibleDirectories=/bin /boot /mnt /sbin /root /sys /srv -/var /media -/lost+found


ReadWriteDirectories=/opt/minecraft-server/server/tekxit2-server

WorkingDirectory=/opt/minecraft-server/server/tekxit2-server

ExecStart=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.161-0.b14.el7_4.x86_64/jre/bin/java -XX:+UseG1GC -XX:StringTableSize=1000003 -XX:+UseFastAccessorMethods -XX:+OptimizeStringConcat -XX:MetaspaceSize=512m -XX:MaxMetaspaceSize=4096m -XX:+AggressiveOpts -XX:MaxGCPauseMillis=50 -XX:+UseStringDeduplication -Xms4G -Xmx6G -XX:hashCode=5 -Dfile.encoding=UTF-8 -jar forge.jar --log-strip-color nogui --noconsole

ExecStop=/usr/local/bin/mcrcon -H localhost -P 65535 -p Monopoly stop

Restart=always

RestartSec=3


[Install]

WantedBy=multi-user.target
